<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yingfeng.cms.modules.user.mapper.UserMapper">

    <select id="queryUserAll" resultType="com.yingfeng.cms.modules.user.domain.UserBean">
    SELECT id, name, password FROM t_user
    </select>

</mapper>